:root {
    /*Colors text*/
    --dark-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /*Colors background gradient*/
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    --white: #fff;

    /*Colors text*/
    --dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayis-blue: hsl(240, 6%, 50%);

    /*Color*/
    --light-grayish-blue: hsl(240, 5%, 91%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans', sans-serif;
}

/*MAIN*/
/*Background*/
main {
    display: grid;
    place-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
}

/*CARD*/
main .card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: auto;
    top: 50px;
    background-color: var(--white);
    border-radius: 25px;
    box-shadow: 0 25px 60px hsla(238, 29%, 16%, 0.3);
}

/*CARD-IMG*/
main .card-top{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
main .card-top span:nth-child(1){
    position: absolute;
    background-image: url(../images/illustration-woman-online-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 70%;
    height: 195px;
    top: -115px;
}
main .card-top span:nth-child(2){
    position: absolute;
    background-image: url(../images/bg-pattern-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 70%;
    height: 110px;
}


/*CARD-MAIN*/
main .card-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 130px 0 0 0;
    padding: 0 0 25px 0;
}
main .card-main__title{
    font-size: 4rem;
    text-align: center;
    color: var(--dark-blue);
    margin: 0 0 30px 0;
}

/*CARD-MAIN FAQ*/
main .card-main__faq{
    width: 85%;
    height: auto;

}
main .card-main__faq li{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    justify-content: space-between;
    align-items: center;

    font-size: 1.6rem;
    font-weight: 400;
}
main .card-main__faq li label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

main .card-main__faq li p{
    padding: 10px 0 0 0;
    font-size: 1.5rem;
    color: var(--dark-grayis-blue);
}
main .card-main__faq li .li-margin-bottom{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    color: var(--dark-grayish-blue);
    border-bottom: 1.7px solid var(--light-grayish-blue);
}


/*CARD-MAIN ARROWS*/
main .card-main__faq li .li-arrow{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url(../images/icon-arrow-off.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(90deg);
    transition: transform 0.5s;

}


/*CARD-MAIN ARROWS ON & OFF*/
main .card-main__faq li input{
    display: none;
}
main .card-main__faq li input:checked ~ .li-arrow {
    transform: rotate(-90deg);
    transition: transform 0.5s;
}
main .card-main__faq li input:checked ~ label {
    font-weight: 700;
}



/*CARD-MAIN ARROWS ON & OFF + ANSWER ON & OFF */
main .card-main__faq li p{
    position: absolute;
    opacity: 0;
    top: 10px;
    padding: 10px 0 0 0;
    font-size: 1.5rem;
    color: var(--dark-grayis-blue);
}

main .card-main__faq li input:checked ~ p{
    position: relative;
    opacity: 1;
    top: 0;
    
}

main .card-main__faq--box{
    display: none;
}





@media(min-width: 800px) {
    
    main .card{
        display: flex;
        flex-direction: row;
        width: 1000px;
        height: 550px;
        top: 0;
    }
    main .card-top {
        height: 550px;
        overflow-x: hidden;
    } 
    main .card-top span:nth-child(1){
        display: absolute;
        background-image: url(../images/illustration-woman-online-desktop.svg);
        background-size: auto;
        width: 100%;
        height: 370px;
        right: 95px;
        top: calc(50% - 185px);
    }
    main .card-top span:nth-child(2){
        position: absolute;
        background-image: url(../images/bg-pattern-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 550px;
        right: 95px; 
        
    }


    /*CARD MAIN*/
    main .card-main{
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }   
    main .card-main__title{
        width: 75%;
        font-size: 3.5rem;
        text-align: start;
    }
    main .card-main__faq{
        width: 75%;
    }
    main .card-main__faq li:hover {
        color: var(--soft-red)
    }
    main .card-main__faq li:hover ~ .card-main__faq--box{
        transform: translateX(-45px);
        transition: transform 1s cubic-bezier(0,.75,.45,.99);
    }

    main .card-main__faq--box{
        display: inline-block;
        position: absolute;
        background-image: url(../images/illustration-box-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        width: 100%;
        height: 200px;
        left: -50%;
        top: calc(50% - 55px);
        transition: transform 1s cubic-bezier(0,.75,.45,.99);
    }

}
